<p style="color: green"><%= notice %></p>

<%= render @user %>
<<<<<<< HEAD
<%= render @microposts %>
=======
<<<<<<< HEAD
=======
<%= render @microposts %>
>>>>>>> e127000 (Finish toy app)
>>>>>>> 4bf8b12 (Add build script)

<div>
  <%= link_to "Edit this user", edit_user_path(@user) %> |
  <%= link_to "Back to users", users_path %>

  <%= button_to "Destroy this user", @user, method: :delete %>
</div>
